/* body {
    text-align: center;
}

nav {
    padding: 10px;
}

.mapsView {
    min-height: 100%;
    height: 100%;
} */

.mapRow{
    margin-top: 10px;
    margin-bottom: 10px;
}

.headRow{
    margin-top: 20px;
}

.col-md-4{
    margin-bottom: 10px;
}
.col-md-3{
    margin-bottom: 10px;
}
.col-md-2{
    margin-bottom: 10px;
}
